
@model Job_Hunter_Trapper_Keeper.Models.ViewModels.JobViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Company)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobNotes)
        </dt>
        @foreach (var note in @Model.JobNotes)
        {
            <dd>
                @note.Notes
            </dd>
        }

    </dl>
</div>
<div>
    <a asp-action="AddNote" asp-route-id="@Model.Id">Add Note</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
